/* responsive container housing the chart */
.chart-responsive-container {
    margin: 2vh auto;
}

/* the total chart div */
/* .BarChart {
    margin: 0 50px 50px 50px;
} */

/* icons displaying wether the case is open or closed */
.recharts-legend-item {
    font-size: large;
    margin-top: 20px;
}

/* BUTTON GROUP */
.button-group-container {
    text-align: center;
}

/* daily, weekly, monthly buttons */
.ui.buttons .button {
    margin: 0 2px 0 2px;
}