#root {
  background-color: white;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  /* min-height: 700px; */
  position: fixed;
  font-family: "NotoSansKR-Light";
  top: 0;
  overflow: hidden;
}

p {
  font-family: "NotoSansKR-Light";
}

#info-icon {
  position: fixed;
  bottom: 17vh;
  left: 10px;
  z-index: 999999;
  font-size: 1.5em;
}

/* #info .icon {
    font-size: .5em;
} */

.team-member-grid-row {
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: auto;
}

#welcome {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.about-team-member-institution {
  font-size: 1.1em;
  margin-top: 0.2em;
  font-weight: 600;
  padding-left: 0.5em;
}

.about-team-member-department {
  padding-left: 0.5em;
  font-style: italic;
}

.about-team-member {
  /* margin-bottom: 20px; */
  padding: 1em;
}
.about-team-member-role {
  font-size: 1em;
  padding-bottom: 0.5em;
  font-style: italic;
}

.about-team-member-name {
  font-size: 1.2em;
  font-weight: 600;
  color: #4b7a90;
}

.about-team-member-title {
  margin-top: 0.3em;
  font-weight: 700;
  padding-left: 0.5em;
}

.about-content-section {
  margin-bottom: 3em;
  padding: 0 2em 0 2em;
}

.about-content-section > p {
  font-size: 1.1em;
  padding: 0 2em 0 1em;
}

.about-content-citation {
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.about-content-citation-type {
  color: #4b7a90;
  margin: 0 0 0.2em 0;
}

.about-content-citation-text {
  background-color: rgba(211, 211, 211, 0.418);
  border-radius: 10px;
  padding: 1em;
}

#alert {
  text-align: center;
  background-color: lightgrey;
  margin: 2em;
  padding: 2em;
  border-radius: 10px;
  font-size: 1em;
}

.about-content-section-source {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.about-content-section-source > a {
  margin-left: 0.5em;
}

.about-content-section-heading {
  color: #4b7a90;
  font-size: 2em;
  width: 100%;
  /* text-align: center; */
}

.about-content-source-note {
  padding-left: 2em;
}

.about-content-resource-note {
  padding: 0.5em;
  font-size: 0.9em;
}

h5 {
  padding: 0;
  margin: 0;
}

#eviction-tracker {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 21% 64% 15%;
}

#header,
#footer {
  text-align: center;
  width: 100vw;
  z-index: 999999;
  box-shadow: 0 0 10px lightslategrey;
  overflow: hidden;
}

#viz-box {
  /* padding: 10px auto; */
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

  /* background-color: rgb(255, 255, 255); */
}

#viz-toggle {
  display: grid;
  position: fixed;
  top: 16vh;
  height: 5vh;
  /* padding-top: 1vh;  */

  width: 100%;
  grid-template-columns: 50% 50%;
  font-size: 1.5em;
  font-weight: 700;
  /* margin-top: 1em; */
}

.viz-tab {
  background-color: lightgrey;
  height: 100%;
  line-height: 5vh;
  /* align-items: center; */
  z-index: 99998;
  opacity: 0.5;
  /* font-weight: 700; */
  /* font-style: b */
}

.viz-tab > h3 {
  line-height: 5vh;
  font-size: 1.2em;
}

.viz-tab:hover {
  opacity: 1;
  background-color: #4b7a90;
}

#active-viz-tab {
  opacity: 1;
}

/* chart dropdown, giving filter perimeters */
.ui.fluid.dropdown {
  text-align: center;
  /* width: 25%;
  margin: 0 auto; */
}

#county-dropdown-container {
  width: 100%;
  position: fixed;
  top: 8.5vh;
  z-index: 999999;
  /* padding: 0 35% 0 35%; */
  font-size: 1.1em;
}

.ui.fluid.selection.dropdown {
  width: 300px;
  margin: auto;
}

#county-dropdown-container > div > .divider.text {
  font-size: 1.5em;
}

#full-screen-toggle {
  position: fixed;
  top: 20px;
  right: 10px;
  font-size: 30px;
}

#right-logo > p {
  font-size: 0.9em;
  margin: 0;
  padding: 0 5% 0 5%;
}

#right-logo {
  text-align: center;
}

.ui.dropdown .menu > .item {
  text-align: center;
  font-size: 1em;
  z-index: 999999;
}

.leaflet-tooltip {
  z-index: 999999;
}

.tooltip-content {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  font-size: 1.1em;
  font-family: "Courier New", Courier, monospace;
}

.chart-tooltip-content {
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  padding: 1em;
  opacity: 0.95;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 0.9em;
  white-space: normal;
  word-wrap: normal;
  max-width: 380px;
}

.tooltip-data {
  font-size: 1.2em;
  font-weight: 600;
}

/* .tooltip-footer {
  width: 100%;
  text-align: right;
  margin-top: .5em;
} */

@media only screen and (min-width: 1100px) {
  #modal-content {
    width: 70%;
  }
}

@media only screen and (min-width: 1300px) {
  #modal-content {
    width: 60%;
  }
}

@media only screen and (max-width: 850px) {
  #modal-content {
    height: 75vh;
  }

  .team-member-grid-row {
    grid-template-columns: 100%;
  }

  #info-icon {
    bottom: 22vh;
  }

  .tooltip-content {
    min-width: 200px;
    /* display: inline-block; */
  }

  .leaflet-tooltip {
    white-space: normal;
  }

  .tooltip-content > div {
    word-wrap: break-word;
  }

  .chart-tooltip-content {
    font-size: 0.8em;
    max-width: 65%;
    padding: 1em;
    opacity: 0.95;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
  }

  #header > h1 {
    font-size: 2em;
    line-height: 1em;
    margin-top: 3vh;
    padding: 0 5%;
  }

  #eviction-tracker {
    grid-template-rows: 25% 55% 20%;
  }

  #footer-logos {
    display: inline-block;
    margin: 0;
    transform: scale(0.8);
  }

  #left-logo > img {
    display: inline;
    width: 100%;
    /* float: left;   */
    /* height: 5vh; */
    /* position: relative;
      right: 100%; */
  }

  #modal-content {
    grid-template-rows: 25% 65% 10%;
  }

  #center-logo > img {
    height: 5vh;
    position: relative;
    bottom: 1vh;
  }

  #left-logo,
  #center-logo {
    width: 50%;
    /* float: ; */
    /* text-align: right; */
    /* margin-bottom: .2vh; */
  }

  #left-logo {
    float: left;
    text-align: left;
  }

  #center-logo {
    display: inline;
    /* float: right; */
    /* text-align: right; */
  }

  #right-logo {
    display: block;
    width: 100%;
    /* text-align: center; */
  }
  #right-logo > p {
    width: 100%;
    /* position: relative;
      bottom: 2vh; */
    line-height: 1.4;
    /* text-align: center; */
    /* float: center; */
    /* width: 100%;
      text-align: center; */
    font-size: 0.8em;
    margin: auto;
    padding: 0;
  }

  #county-dropdown-container {
    width: 100%;
    /* position: fixed; */
    top: 13vh;
    z-index: 999999;
    padding: 0;
    font-size: medium;
    font-size: 1.2em;
  }

  #county-dropdown-container > select {
    padding: 5px;
    border-radius: 5px;
  }

  #county-dropdown-container > select > option {
    font-size: 0.6em;
  }

  #footer {
    height: 20vh;
    padding: 0;
  }

  #footer > p {
    position: relative;
    bottom: 2vh;
    font-size: 0.8em;
  }

  #modal-heading {
    padding-top: 2em;
  }

  #modal-heading > h1 {
    font-size: 2em;
  }

  #modal-heading > h2 {
    font-size: 2em;
  }

  /* #viz-box {
      height: 60vh;
    } */

  /* .legend {
        height: 30vh;
    } */
}

@media only screen and (max-height: 500px) {
  #header > h1 {
    line-height: 10vh;
    margin: 5vh 0 0 0;
    /* display: grid;
    grid-template-columns: 50% 50%; */
    width: 75%;
  }

  #county-dropdown-container > select {
    position: fixed;
    top: 5vh;
    right: 5%;
  }

  #header {
    height: 30vh;
  }

  #viz-toggle {
    height: 10vh;
  }

  .viz-tab > h3 {
    height: 10vh;
    line-height: 10vh;
  }
}
