
#root {
  background-color: white;
  width: 100vw;
  height: 100vh;

}

p {
    font-family: 'NotoSansKR-Light';
}

.api-link {
  float: right;
  margin: 2%;
  text-decoration: underline;
  font-size: large;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #4B7A90;
}

.api-link:hover {
  opacity: 0.5;
}