/* #map-container {
    position: absolute;
    top: 10vh;
    height: 85vh;
    width: 100%;
    background-color: seashell;
} */

.legend {
    display: grid;
    grid-template-rows: 10% 15% 75%;
    width: 200px;
    height: 30vh;
    z-index: 9999;
    position: fixed;
    bottom: 15vh;
    right: 2%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    padding: 10px;
}

#symbol-container {
    display: grid;
    grid-template-columns: 25% 75%;


}

#symbol-column, #symbol-labels {
    display: grid;
    grid-template-rows: auto;
    /* align-items: center; */
}

.legend-symbol {
    height: 20px;
    width: 20px;
    margin: 5px 5px 5px 50%;

}

.legend-label {
    font-size: 1.2em;
}

#month-selector {
    z-index: 9999;
    font-size: 1.2em;
    /* position: fixed;
    bottom: 36vh; */
    /* right: 2%;
    width: 200px; */

}

#month-selector > .ui.dropdown > .text {
    background-color: black;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}

#month-selector > .ui.dropdown .menu {
    max-height: 20vh;
    overflow: auto;
    position: relative;
    /* top: 15px; */
    right: 10px;
    /* float: center; */
    z-index: 99999;
}

#month-selector > .ui.dropdown .menu > .item {
 font-size: .9em;
}

