/* #map-container {
    position: absolute;
    top: 10vh;
    height: 85vh;
    width: 100%;
    background-color: seashell;
} */

.legend {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 200px;
    height: 25vh;
    z-index: 999999;
    position: fixed;
    bottom: 15vh;
    right: 2%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    padding: 10px;
}

#symbol-container {
    display: grid;
    grid-template-columns: 25% 75%;


}

#symbol-column, #symbol-labels {
    display: grid;
    grid-template-rows: auto;
    /* align-items: center; */
}

.legend-symbol {
    height: 20px;
    width: 20px;
    margin: 5px 5px 5px 50%;

}

.legend-label {
    font-size: 1.2em;
}

.tooltip-content {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.tooltip-content > div {
    line-height: 24px;
}
.tooltip-data {
    font-size: 1.2em;
    font-weight: 600;
}
