#footer {
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  background-color: white;
  height: 15vh;
}

#footer-logos {
  display: grid;
  height: 6vh;
  align-items: center;
  /* /* flex-direction: row; */
  /* justify-content: space-between ; */
  grid-template-columns: 40% 20% 40%;
  width: 100%;
  margin: 0 0 0.5em 0;
}

#right-logo {
  text-align: center;
}

#left-logo > img {
  /* align-content: left; */
  /* transform: scale(.4); */
  width: 60%;
  display: block;
  /* text-align: left; */
  margin: auto;
}

#right-logo > img {
  height: 4vh;
}

#center-logo > img {
  height: 6vh;
}

#footer-text {
  padding: 5px 0 5px 0;
  font-size: x-small;
}

.partner-names {
  font-weight: 700;
}
