
.legend {
    display: grid;
    grid-template-rows: 10% 10% 65% 15%;
    width: 280px;
    height: 35vh;
    z-index: 999;
    position: fixed;
    bottom: 18vh;
    right: 1%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    padding: 10px;
    
}

#building-toggle {
  position: fixed;
  z-index: 99999;
  top: 22vh;
  right: 1%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  overflow: visible;
  padding: 10px;
  text-align: center;
  color: black;
  width: 250px;
  /* overflow:; */
}



.building-symbology {
  font-size: .8em;
  border-radius: 50%;
  margin-right: 3px;
}

#building-symbology-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
  margin: 10px auto 0 auto;
}
#building-symbology-box > div {
  display: flex;
  flex-direction: column;
}

.building-toggle-sublabel {
  margin: .2em auto 0 auto;
  font-size: .8em;
  z-index: 999999;
  /* width: 200px; */
  line-height: 1.2em;
  font-style: italic;
}

.building-toggle-label {
  font-weight: 800;
  font-size: 1.1em;
}

#legend-header > h3 {
    /* font-size: 1.3rem; */
    font-family: 'NotoSansKR-Light';
}

.building-popup-chart {
 margin: 10px 0;
}

.building-popup-summary {
  width: 220px;
}

.popup-data-warning {
  background-color: rgba(211, 211, 211, 0.4);
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.legend > div > em {
    font-size: .8em;
    white-space: wrap;
    line-height: .5em;;

    /* line-height: 0; */
}

#symbol-container {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
    font-size: 1em;
    width: 80%;
    margin-left: 10%;

    /* height: 100%; */
}

#symbol-column, #symbol-labels {
    display: grid;
    grid-template-rows: auto;
}

.legend-symbol {
    height: 15px;
    width: 15px;
    margin: 5px 5px 0px 50%;
}

.legend-label {
    font-size: 1em;
    font-family: 'NotoSansKR-Light';

}

#month-selector {
    z-index: 9999;
    font-size: 1.1em;
}

#month-selector > .ui.dropdown > .text {
    background-color: black;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    font-family: 'NotoSansKR-Light';

}

#month-selector > .ui.dropdown .menu {
    max-height: 15vh;
    overflow: auto;
    position: relative;
    /* top: 15px; */
    right: 10px;
    /* float: center; */
    z-index: 99999;
}

#month-selector > .ui.dropdown .menu > .item {
 font-size: .9em;
}

#map-data-export-button {
    position: fixed;
    bottom: calc(17vh + 50px);
    z-index: 999999;
    left: 20px;
}

#map-building-list-export-button {
  position: fixed;
  bottom: calc(17vh + 100px);
  z-index: 999999;
  left: 20px;
}

#legend-footer {
  text-align: left;
  font-size: .8em;
    /* text-align: lcenteft; */
    padding: 0 .5em 0 .5em;
}

#legend-footer > p {
    line-height: 1em;
    font-size: .8em;
}

#legend-footer > p > span {
    font-size: 1.9em;
    line-height: .1em;
    position: relative;
    top: .4em;
    right: .1em;
}

.building-popup-value {
  font-size: 1.4em;
  font-weight: 700;
}


@media only screen and  (max-width: 850px) {
    .legend {
        font-size: .8rem;
        grid-template-rows: 10% 16% 58% auto;
        width: 250px;
        height: 35vh;
        z-index: 9999998;
        padding: 10px;
        position: fixed;
        bottom: 23vh;
        overflow: auto;
    }

    #symbol-container {
      width: 80%;
      margin-left: 10%;
      /* display: grid;
      grid-template-columns: 25% 75%; */
      padding: 0px;
      /* margin-bottom: 5px; */
  }

  #legend-footer > p {
    font-size: .9em;
  }

  #legend-footer {
    margin-top: 2px;
  }
    /* .legend {
        font-size: .8em;
        padding: .1em;
    } */

    #legend-header > h3 {
        font-size: 1.2rem;
        font-family: 'NotoSansKR-Light';
    }

    .legend-symbol {
        height: 15px;
        width: 15px;
        margin: 2px 2px 2px 70%;
    
    }

    #month-selector {
        font-size: 1.3em;
        position: relative;
        top: .5vh;
    }

    #month-selector  > select {
        padding: 3px;
        border-radius: 5px;
    }

    #legend-icon {
        position: fixed;
        bottom: 22vh;
        right: 1%;
        z-index: 999999;
    }

    #legend-close-icon {
        position: fixed;
        bottom: 56vh;
        z-index: 99999999;
        right: 244px;
        background-color: black;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        padding: 0px;
        /* text-align: center; */
    }

    #legend-close-icon > .icon {
        margin: 0;
        position: relative;
        left: 2px;
        /* bottom: 1px; */
    }

    #map-data-export-button {
        bottom: 30vh;
        left: 15px;
        font-size: 2.4em;
        background-color: white;
        border-radius: 5px;
        /* padding: .3em; */
    }
    #map-data-export-button > .icon {
        margin: 0;
    }

    #building-toggle {
      top: 26vh;
      width: 200px;
      font-size: .9em;
    }

    #building-symbology-box {
      width: 90%;
    }

}