/* responsive container housing the chart */
.chart-responsive-container {
    margin: 2vh auto;
}

#chart-data-export-button {
    position: fixed;
    bottom: 17vh;
    z-index: 999999;
    left: 5%;
}

/* the total chart div */
/* .BarChart {
    margin: 0 50px 50px 50px;
} */

/* icons displaying wether the case is open or closed */
.recharts-legend-item {
    font-size: large;
    margin-top: 20px;
}

/* BUTTON GROUP */
.button-group-container {
    z-index: 99999;
    text-align: center; 
    position: fixed;
    bottom: 17vh;
    width: 100%;
}

/* daily, weekly, monthly buttons */
.ui.buttons .button {
    margin: 0 2px 0 2px;
}

@media only screen and  (max-width: 850px) {
    .button-group-container {
        
        /* position: relative; */
        bottom: 22vh;
    }

    #chart-data-export-button-mobile {
        position: fixed;
        bottom: 22vh;
        right: 4%;
        font-size: 2.4em;
        background-color: white;
        z-index: 999999;
        border-radius: 5px;
        /* padding: .3em; */
    }
    #chart-data-export-button > .icon {
        margin: 0;
    }
}