/* responsive container housing the chart */
#chart-responsive-container {
    /* margin: 0 auto; */
    width: 100vw;
    margin: auto;
    /* position: fixed; */
    /* top: 20vh;
    left: 2.5vw; */
    height: 65vh;

}

#chart-data-export-button {
    position: fixed;
    bottom: 17vh;
    z-index: 999999;
    left: 5%;
}

.recharts-legend-item {
    font-size: large;
    margin-top: 40px;
}

.button-group-container {
    z-index: 99999;
    text-align: center; 
    position: fixed;
    bottom: 17vh;
    width: 100%;
}

.ui.buttons .button {
    margin: 0 2px 0 2px;
}

@media only screen and  (max-width: 850px) {
    .button-group-container {
        bottom: 22vh;
    }

    #chart-responsive-container {
      height: 55vh;
      /* position: fixed;
      top: 25vh; */
    }
    .recharts-legend-item {
      font-size: large;
      margin-top: 20px;
  }

    

    #chart-data-export-button-mobile {
        position: fixed;
        bottom: 22vh;
        right: 4%;
        font-size: 2.4em;
        background-color: white;
        z-index: 999999;
        border-radius: 5px;
    }
    
    #chart-data-export-button > .icon {
        margin: 0;
    }
}